html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background: linear-gradient(to bottom left, #09bb18, #2c1bc7);
  background-size: cover;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.page-container {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.page-content {
  background-color: white;
  height: 100%;
}

.navbar-top {
  width: 100%;
  height: 20%;
}

.navbar {
  height: 100%;
  align-items: center;
  background-color: white;
}

.nav-shadow {
  height: 2px;
  width: 100%;
  background-color: red;
}
.brand-logo {
  width: 25%;
}

.logo-sky {
  width: 250px;
  filter: drop-shadow(5px 4px 2px rgba(0, 0, 0, 0.14));
  margin: 5%;
}

@media screen and (max-width: 600px) {
  .logo-sky {
    width: calc(100% + 100px);
  }
}

.navbar ul li a {
  color: rgb(52, 52, 135) !important;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
}

.navbar ul li a:hover {
  background-color: transparent !important;
}

/*Conteúdo da página:*/

.academia-container {
  padding: 50px;
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
  height: 80%;
}

.academia-container .title {
  text-align: center;
  width: 100%;
}

.academia-container .title h1 {
  font-size: 35px;
  font-weight: 300;
}

.academia {
  display: flex;
  flex-direction: column;
}

.teacher-image img {
  width: 400px;
  height: 350px;
}

@media screen and (max-width: 600px) {
  .academia-container {
    padding: 50px 0;
  }
  .teacher-image img {
    width: 100%;
  }
}

.horarios {
  width: 450px;
}
